@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    
</div>

<style>
    body {
        background-image: url('css/SocialWelfare.png');
        padding: 200px;
        background-size:cover; /*This ensures the image covers the entire background */
        background-attachment: fixed; /* This keeps the image fixed while scrolling */
    }

</style>
