@{
    Layout = "_Layout"; // Use your layout file name here
    ViewData["Title"] = "About";
}

<style>

    body {
        background-color: #E5EFE4;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <br />
            <br />
            <h1>About Helping Hands</h1>
            <br />
            <p>Since 1990, Helping Hands has been a beacon of hope for those battling addiction and supporting the underprivileged. We are a non-profit organization dedicated to providing comprehensive care, support, and resources to individuals and families impacted by drug addiction, substance abuse, alcoholism, and more.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <br />
            <h3>Our Mission</h3>
            <br />
            <p>At Helping Hands, our mission is to offer compassion, guidance, and practical assistance to individuals seeking recovery and stability. We believe in the power of community and strive to create a safe space where everyone feels valued and supported.</p>
        </div>
        <div class="col-12 col-md-6">
            <br />
            <h3>Our Services</h3>
            <br />
            <p>We offer a range of services designed to address the needs of those struggling with addiction and poverty, including:</p>
            <ul>
                <li>Rehabilitation programs for drug and alcohol addiction.</li>
                <li>Counseling and support groups.</li>
                <li>Outreach services for the homeless and underprivileged.</li>
                <li>Assistance with housing, employment, and education.</li>
                <li>Programs to support the elderly and isolated.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <br />
            <h3>Our Impact</h3>
            <br />
            <p>Over the years, we've had the privilege of helping thousands of individuals find their path to recovery and improved quality of life. Our impact is a testament to the dedication of our staff, volunteers, and community partners.</p>
        </div>
        <div class="col-12 col-md-6">
            <br />
            <h3>Get Involved</h3>
            <br />
            <p>We invite you to be part of our mission. Whether through volunteering, donations, or spreading the word, your support helps us continue our work. Contact us to learn more about how you can get involved.</p>
            <a asp-area="" asp-controller="Donor" asp-action="Index" class="btn btn-primary">Learn How to Donate</a>
        </div>
    </div>
</div>
